src/main/mule/sample-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2d246391-44b8-4064-80bc-fc11346528d1" >
		<http:listener-connection host="localhost" port="8084" />
	</http:listener-config>
	<flow name="sample-apiFlow" doc:id="aa2131f9-aa47-4fc3-a857-effc88c8c678" >
		<http:listener doc:name="Listener" doc:id="9c21535a-391d-435c-bc6e-1903c9549121" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Hello World!!!!"]' doc:name="Set Payload" doc:id="2f6cd809-4a07-4a15-9cd2-41c68417940d" />
		<logger level="INFO" doc:name="Logger" doc:id="aa7888df-12ae-40dd-939b-00174ac99fbf" message="#[payload]"/>
	</flow>
</mule>
